<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Artisterie | Oups !</title>


		<!-- CSS Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/img/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/img/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/img/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('/img/site.webmanifest') }}">
		<link rel="mask-icon" href="{{ asset('/img/safari-pinned-tab.svg') }}" color="#1dc918">
		<meta name="msapplication-TileColor" content="#202020">
		<meta name="theme-color" content="#202020">
		
		<!-- Mon CSS -->
		<link rel="stylesheet" href="{{ asset('/css/artisterie.css') }}" >
	</head>
	<body>
				
		<main id="main404">

			<br><br><br>		 
				<div class="container-fluid">
					<div class="container">
						<div class="row">
							<div id="error404" class="col-12 text-center">
								<img src="{{ asset('/img/404.png') }}" alt="Erreur 404">
								<br><br><br><br>
								<h1 class="text-center">Il n'y a rien ici !</h1>
								<br>
								<h2 class="text-center"> La page que vous cherchez n'existe pas.</h2>
								<br>
	                        	<a class="btn m-1" href="{{ path('home') }}">Accueil</a> 
		                        <a class="btn m-1" href="{{ path('contact') }}">Contact</a>
							</div>
						</div>
					</div>	 
				</div>	 

		</main>
	
		<!-- SCRIPTS JAVASCRIPT -->
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<!-- JavaScript Boostrap et Popper -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>
</html>
