{% extends "layout.html.twig" %}
{% set studioMenu = true %}

{% block title %}Studio{% endblock %}

{% block content %}
	<main id="mainStudio">
	    <!-- 
		####  ##    ##   ########   ########    #######   
		 ##   ###   ##      ##      ##     ##  ##     ##  
		 ##   ####  ##      ##      ##     ##  ##     ##  
		 ##   ## ## ##      ##      ########   ##     ##  
		 ##   ##  ####      ##      ##   ##    ##     ##  
		 ##   ##   ###      ##      ##    ##   ##     ##  
		####  ##    ##      ##      ##     ##   #######   
		 -->

			<br><br>		 
				<div class="container-fluid" id="intro">
					<div class="container">
						<div class="row">
							<div class="col-12">
		 						<p class="text-justify">Le studio de l’Artisterie est un studio d’enregistrement et de mixage qui dispose d’un espace de travail spacieux, agréable et fonctionnel.</p>
								<p class="text-justify"> Sa cabine de prise d’une superficie de 61 m² permet d’accueillir et d’enregistrer des groupes en configuration “live”. La control room, elle aussi très confortable et spacieuse (29 m²), est idéal pour des séances d'écoute et de travail "collégiales".</p>
		 						<p class="text-justify">La configuration matérielle combine à la fois la chaleur de l’analogique avec la console et tous les périphériques, et la polyvalence du numérique avec son enregistreur Protools et tous les plug-ins. Le meilleur des 2 mondes réuni dans un même lieu !</p>
							</div>
						</div>	 
					</div>	 
				</div>	 
				
				<!-- 
		########   ########      ###     ##     ##  
		   ##      ##           ## ##    ###   ###  
		   ##      ##          ##   ##   #### ####  
		   ##      ######     ##     ##  ## ### ##  
		   ##      ##         #########  ##     ##  
		   ##      ##         ##     ##  ##     ##  
		   ##      ########   ##     ##  ##     ##  
		 -->
			<br><br>	
				<div class="container-fluid dark-bg" id="team">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<h1 class="text-center">TEAM</h1>
							</div>
							<div class="col-12 col-md-6 col-lg-4 offset-lg-0">
								<div id="Tibo" class="blocImg">
									<img src="{{ asset('/img/team_tib.jpg') }}" alt="Tibo">
									<p class="blocIcon"><i class="fa fa-search"></i></p>
									<p class="blocTxt">
										<i>Geek du matos et du “do it yourself”</i><br>
										<b>Fonction</b> : ingénieur du son<br>
										<b>Aime</b> : la rondeur et le naturel<br>
										<b>Aimerais avoir</b> : une console SSL de 196 pistes<br>
										<b>Son +</b> : zen, et même un peu trop<br>
									</p>
								</div>		
								<h6>Tibo<br>Ingénieur du son</h6>
							</div>
		 					<div class="col-12 col-md-6 col-lg-4 offset-lg-0">
		 						<div id="Romu" class="blocImg">
	 								<img src="{{ asset('/img/team_romu.jpg') }}" alt="Romu">
	 								<p class="blocIcon"><i class="fa fa-search"></i></p>
	 								<p class="blocTxt">
		 								<i>Elève de Rotach’ au studio Grange-aux-Loups</i><br>
		 								<b>Fonction</b> : ingénieur du son<br>
										<b>Aime</b> : la saturation et le grave<br>
										<b>Aimerais avoir</b> : un SM 57 à lampe<br>
										<b>Son +</b> : self-control<br>
	 								</p>
		 						</div>	
		 						<h6>Romu<br>Ingénieur du son</h6>
		 					</div>
		 					<div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0">
		 						<div id="Seb" class="blocImg">
	 								<img src="{{ asset('/img/team_seb.jpg') }}" alt="Seb">
	 								<p class="blocIcon"><i class="fa fa-search"></i></p>
	 								<p class="blocTxt">
	 									<i>Le Lucky Luke de la guitare</i><br>
	 									<b>Fonction</b> : réalisation/arrangements<br>
										<b>Aime</b> : quand la musique danse<br>
										<b>Aimerais avoir</b> : un mur d’amplis Mesa Boogie<br>
										<b>Son +</b> : addict aux Ferrero Rocher<br>
	 								</p>
	 							</div>	
		 						<h6>Seb<br>Arrangeur</h6>
		 					</div>
						</div>	 
					</div>	 
				</div>	


		<!-- 
		########    #######   ##     ##  ####  ########   ##     ##  ########   ##    ##   ########   
		##         ##     ##  ##     ##   ##   ##     ##  ###   ###  ##         ###   ##      ##      
		##         ##     ##  ##     ##   ##   ##     ##  #### ####  ##         ####  ##      ##      
		######     ##     ##  ##     ##   ##   ########   ## ### ##  ######     ## ## ##      ##      
		##         ##  ## ##  ##     ##   ##   ##         ##     ##  ##         ##  ####      ##      
		##         ##    ##   ##     ##   ##   ##         ##     ##  ##         ##   ###      ##      
		########    ##### ##   #######   ####  ##         ##     ##  ########   ##    ##      ##      
		 -->
				<div class="container-fluid" id="equipment">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<h1 class="text-center">&Eacute;QUIPEMENT</h1>
							</div>

							<!-- ***** Mobile Accordion ***** -->
							<div id="equipment_accordion" class="col-12 d-md-none">

							    <div class="card">
							        <div class="card-header" id="console">
							            <h5 class="mb-0">
							                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
							                    Console 
							                </button>
							            </h5>
							        </div>
							        <div id="collapse1" class="collapse show" aria-labelledby="console" data-parent="#equipment_accordion">
							            <div class="card-body">
							                <ul>
							                    <li>Console analogique Audient ASP4816</li>
							                </ul>
							            </div>
							        </div>
							    </div>

							    <div class="card">
							        <div class="card-header" id="magneto">
							            <h5 class="mb-0">
							                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
							                    Magnéto
							                </button>
							            </h5>
							        </div>
							        <div id="collapse2" class="collapse" aria-labelledby="magneto" data-parent="#equipment_accordion">
							            <div class="card-body">
							                <ul>
							                    <li>Protools 10 HD 3 sur Mac Pro (Quad Core - 16Go RAM)</li>
							                    <li>Convertisseurs SSL X-Logic</li>
							                </ul>
							            </div>
							        </div>
							    </div>

							    <div class="card">
							        <div class="card-header" id="periph">
							            <h5 class="mb-0">
							                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
							                    Périphériques 
							                </button>
							            </h5>
							        </div>
							        <div id="collapse3" class="collapse" aria-labelledby="periph" data-parent="#equipment_accordion">
							            <div class="card-body">
							                <ul>
							                    <li>Préampli Hacienda Labs HL169 (type Studer)</li>
							                    <li>Préampli ASC 169 (type Studer)</li>
							                    <li>Compresseur SSL LMC+</li>
							                    <li>Compresseur de bus stéréo SSL4000</li>
							                    <li>Compresseur/Gate Hacienda Labs HL4000 (type SSL)</li>
							                    <li>Compresseur dbx 160 xt</li>
							                    <li>Transient designer Stéréo SPL</li>
							                    <li>Vitalizer stéréo à lampe SPL mk2-T</li>
							                    <li>Générateur d'harmoniques Sansamp RPM</li>
							                </ul>
							            </div>
							        </div>
							    </div>

							    <div class="card">
							        <div class="card-header" id="effects">
							            <h5 class="mb-0">
							                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
							                    Effets
							                </button>
							            </h5>
							        </div>
							        <div id="collapse4" class="collapse" aria-labelledby="effects" data-parent="#equipment_accordion">
							            <div class="card-body">
							                <ul>
							                    <li>Multi-effet TC Electronic M4000</li>
							                    <li>Multi-effet Lexicon PCM 92</li>
							                    <li>Plug-in TDM Reverb TL Space</li>
							                </ul>
							            </div>
							        </div>
							    </div>

							    <div class="card">
							        <div class="card-header" id="monitoring">
							            <h5 class="mb-0">
							                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
							                    Monitoring
							                </button>
							            </h5>
							        </div>
							        <div id="collapse5" class="collapse" aria-labelledby="monitoring" data-parent="#equipment_accordion">
							            <div class="card-body">
							                <ul>
							                    <li>Processeur XTA DP200</li>
							                    <li>Enceintes Yamaha NS10 + ampli Amcron DC300A</li>
							                    <li>Enceintes actives Klein Hummel O300D + Sub O800</li>
							                </ul>
							            </div>
							        </div>
							    </div>

							    <div class="card">
							        <div class="card-header" id="mics">
							            <h5 class="mb-0">
							                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
							                    Micros
							                </button>
							            </h5>
							        </div>
							        <div id="collapse6" class="collapse" aria-labelledby="mics" data-parent="#equipment_accordion">
							            <div class="card-body">
							                <ul>
							                    <li>AKG : C451, C414, C535, SE300</li>
							                    <li>Audiotechnica : AT4050</li>
							                    <li>Beyerdynamic : M201, M420, M88 N</li>
							                    <li>Electrovoice : RE20, ND68, PL9</li>
							                    <li>Melodium : 75A</li>
							                    <li>Neumann : U67 à lampe, KM184</li>
							                    <li>Oktava : couple appairé MK-012 (têtes omni et cardio)</li>
							                    <li>Prodipe (modifié par Xaudia): RSL stéréo à ruban</li>
							                    <li>Royer Labs : R121</li>
							                    <li>Sennheiser : MD421, MD441, MD 509</li><li>Shure : Beta 52, SM58, SM57, Unidyne Model 55 (1960)</li>
							                    <li>DI actives Klark Technics, DBX</li>
							                </ul>
							            </div>
							        </div>
							    </div>

							    <div class="card">
							        <div class="card-header" id="instruments">
							            <h5 class="mb-0">
							                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
							                    Instruments
							                </button>
							            </h5>
							        </div>
							        <div id="collapse7" class="collapse" aria-labelledby="instruments" data-parent="#equipment_accordion">
							            <div class="card-body">
							                <ul>
							                    <li>Piano droit Mussard</li>
							                    <li>Farfisa Matador</li>
							                    <li>Orgue Yamaha Electone</li>
							                    <li>Basse Rickenbacker 4001 - 1973</li>
							                    <li>Guitare Fender Stratocaster US - 1979</li>
							                    <li>Ampli basse SWR</li>
							                    <li>Ampli guitare ENGL Powerball</li>
							                    <li>Ampli guitare Marshall Model 6100LM</li>
							                    <li>Baffle Marshall pan coupé 4x12</li>
							                    <li>Baffle Hugh &amp; Kettner pan coupé 4x12</li>
							                    <li>Combo Peavey Classic</li>
							                    <li>Combo Daytona TC60</li>
							                </ul>
							            </div>
							        </div>
							    </div>

							</div>


							<!-- ***** Desktop Plain Text (2 columns)***** -->
							<div class="col-12 col-sm-6 d-none d-md-block text-left">
								<h5>Console</h5>
								<ul>
									<li>Console analogique Audient ASP4816</li>
								</ul>
								<br>
								<h5>Magnéto</h5>
								<ul>
									<li>Protools 10 HD 3 sur Mac Pro (Quad Core - 16Go RAM)</li>
									<li>Convertisseurs SSL X-Logic</li>
								</ul>
								<br>
								<h5>Périphériques</h5>
								<ul>
									<li>Préampli Hacienda Labs HL169 (type Studer)</li>
									<li>Préampli ASC 169 (type Studer)</li>
									<li>Compresseur SSL LMC+</li>
									<li>Compresseur de bus stéréo SSL4000</li>
									<li>Compresseur/Gate Hacienda Labs HL4000 (type SSL)</li>
									<li>Compresseur dbx 160 xt</li>
									<li>Transient designer Stéréo SPL</li>
									<li>Vitalizer stéréo à lampe SPL mk2-T</li>
									<li>Générateur d'harmoniques Sansamp RPM</li>
								</ul>
								<br>
								<h5>Effets</h5>
								<ul>
									<li>Multi-effet TC Electronic M4000</li>
									<li>Multi-effet Lexicon PCM 92</li>
									<li>Plug-in TDM Reverb TL Space</li>
								</ul>
								<br>
								<h5>Monitoring</h5>
								<ul>
									<li>Processeur XTA DP200</li>
									<li>Enceintes Yamaha NS10 + ampli Amcron DC300A</li>
									<li>Enceintes actives Klein Hummel O300D + Sub O800</li>
								</ul>
		 					</div>
							<div class="col-12 col-sm-6 d-none d-md-block text-left">
								<h5>Micros</h5>
								<ul>
									<li>AKG : C451, C414, C535, SE300</li>
									<li>Audiotechnica : AT4050</li>
									<li>Beyerdynamic : M201, M420, M88 N</li>
									<li>Electrovoice : RE20, ND68, PL9</li>
									<li>Melodium : 75A</li>
									<li>Neumann : U67 à lampe, KM184</li>
									<li>Oktava : couple appairé MK-012 (têtes omni et cardio)</li>
									<li>Prodipe (modifié par Xaudia): RSL stéréo à ruban</li>
									<li>Royer Labs : R121</li>
									<li>Sennheiser : MD421, MD441, MD 509</li><li>Shure : Beta 52, SM58, SM57, Unidyne Model 55 (1960)</li>
									<li>DI actives Klark Technics, DBX</li>
								</ul>
								<br>
								<h5>Instruments</h5>
								<ul>
									<li>Piano droit Mussard</li>
									<li>Farfisa Matador</li>
									<li>Orgue Yamaha Electone</li>
									<li>Basse Rickenbacker 4001 - 1973</li>
									<li>Guitare Fender Stratocaster US - 1979</li>
									<li>Ampli basse SWR</li>
									<li>Ampli guitare ENGL Powerball</li>
									<li>Ampli guitare Marshall Model 6100LM</li>
									<li>Baffle Marshall pan coupé 4x12</li>
									<li>Baffle Hugh &amp; Kettner pan coupé 4x12</li>
									<li>Combo Peavey Classic</li>
									<li>Combo Daytona TC60</li>
								</ul>
		 					</div>
						</div>	
						<br><br> 
					</div>	 
				</div>	

		<!-- 
		########   ##            ###     ##    ##        
		##     ##  ##           ## ##    ###   ##      
		##     ##  ##          ##   ##   ####  ##           
		########   ##         ##     ##  ## ## ##    
		##         ##         #########  ##  ####    
		##         ##         ##     ##  ##   ###    
		##         ########   ##     ##  ##    ##      
		 -->
				<div class="container-fluid dark-bg" id="plans">
					<div class="container">
						<div class="row">
							<div class="col-12">
		 						<h1 class="text-center">PLAN</h1>
		 						<img src="{{ asset('/img/studio_plan_1100px.jpg') }}" alt="Plan des locaux d'enregistrement" usemap="plan">
		 						<!-- Img link area map -->
								<map name="plan" id="plan">
								    <area alt="Locaux de répétition" title="Locaux de répétition" href="{{ path('page', { 'pagename': 'rehearsal' }) }}" shape="poly" coords="521,76,863,76,859,4,1098,4,1099,297,524,297"/>
								</map>
		 						<br><br><br><br>
							</div>
						</div>	 
					</div>	 
				</div>	


		<!-- 
		 ######    ########   ########   ##     ##  ####   ######    ########    ######    
		##    ##   ##         ##     ##  ##     ##   ##   ##    ##   ##         ##    ##   
		##         ##         ##     ##  ##     ##   ##   ##         ##         ##         
		 ######    ######     ########   ##     ##   ##   ##         ######      ######    
		      ##   ##         ##   ##     ##   ##    ##   ##         ##               ##   
		##    ##   ##         ##    ##     ## ##     ##   ##    ##   ##         ##    ##   
		 ######    ########   ##     ##     ###     ####   ######    ########    ######    
		 -->
				<div class="container-fluid" id="activities">
					<div class="container">
						<div class="row">
							<div class="col-12">
			 					<h1 class="text-center">ACTIVIT&Eacute;S</h1>
							</div>

							<!-- ***** Activities - Mobile Accordion ***** -->
							<div id="services_accordion" class="col-12 d-md-none">

							    <div class="card">
							        <div class="card-header text-center" id="recording_accordion">
							            <h5 class="mb-0">
							                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
												<i class="fa fa-microphone fa-3x"></i><br>
												ENREGISTREMENT - MIXAGE
							                </button>
							            </h5>
							        </div>
							        <div id="collapse8" class="collapse show" aria-labelledby="recording_accordion" data-parent="#services_accordion">
							            <div class="card-body">
							                <p class="text-justify">De l’enregistrement au mastering, en passant par les arrangements et le mixage, nous vous accompagnons sur toutes les étapes de la production musicale.<br>
							                Que vous ne juriez que par la précision des prises en "re-re", ou que vous soyez plutôt adeptes du son unique d'une prise "live", l'Artisterie saura combler toutes vos attentes grâce à sa cabine de prise XXL et son matériel mêlant habilement analogique et numérique.<br> 
							                <a href="#Seb">Sébastien</a> pourra vous accompagner avant et pendant l’enregistrement et le mixage pour vous guider sur les arrangements et réaliser vos titres. Son intervention constitue une réelle plus-value car un bon arrangement est indispensable pour obtenir un rendu final de qualité.</p>
							            </div>
							        </div>
							    </div>

							    <div class="card">
							        <div class="card-header text-center" id="audiovisual_accordion">
							            <h5 class="mb-0">
							                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
												<i class="fa fa-film fa-3x"></i><br>
												AUDIOVISUEL - BRUITAGES
							                </button>
							            </h5>
							        </div>
							        <div id="collapse9" class="collapse" aria-labelledby="audiovisual_accordion" data-parent="#services_accordion">
							            <div class="card-body">
							                <p class="text-justify">L’enregistrement de bruitages, de voix off ou commentaires est l'une des nombreuses activités de l’Artisterie.<br>
							                En partenariat avec le bruiteur <a href="http://www.julienbaissatbruiteur.fr" target="_blank">Julien Baissat</a> et l’école d’animation <a href="http://www.poudriere.eu" target="_blank">La Poudrière</a> à Valence, les projets de fin d’année des élèves sont bruités au studio, pour ensuite être mixés à Valence.<br>
							                L’enregistrement de voix ou le mixage à l’image est également possible.</p>
							            </div>
							        </div>
							    </div>

							    <div class="card">
							        <div class="card-header text-center" id="cam_accordion">
							            <h5 class="mb-0">
							                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
												<i class="fa fa-desktop fa-3x"></i><br>
												COURS DE MAO
							                </button>
							            </h5>
							        </div>
							        <div id="collapse10" class="collapse" aria-labelledby="cam_accordion" data-parent="#services_accordion">
							            <div class="card-body">
							                <p class="text-justify">Le studio s’inscrit dans une démarche de formation avec comme partenaire l’école de musique <a href="http://drumsemblem.com" target="_blank">Drums Emblem</a> à Villeurbanne.<br>
							                Que vous soyez débutant ou que que vous souhaitiez vous perfectionner, nous vous proposons également des cours "à la demande" pour vous accompagner sur toutes les étapes d'un enregistrement, de la prise de son au mixage, en studio ou en concert. <br>
							            	Vous aurez accès à du matériel professionnel et à une pédagogie maîtrisée, délivrée par des ingénieurs du son travaillant dans le milieu depuis de nombreuses années.</p>
							            </div>
							        </div>
							    </div>

							    <div class="card">
							        <div class="card-header text-center" id="masterclass_accordion">
							            <h5 class="mb-0">
							                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
												<i class="fa fa-graduation-cap fa-3x"></i><br>
												MASTERCLASS - WORKSHOPS
							                </button>
							            </h5>
							        </div>
							        <div id="collapse11" class="collapse" aria-labelledby="masterclass_accordion" data-parent="#services_accordion">
							            <div class="card-body">
							                <p class="text-justify">Le studio accueille également des évènements ponctuels de type Workshop, comme par exemple la venue d’<a href="https://www.youtube.com/user/lamachineamixer" target="_blank">Etienne Tremblay</a>, célèbre youtuber Québécois, en fin d'année 2017. <br>
							                Lors de cette Masterclass, pas moins de 15 personnes venues de toute la région ont pu suivre les enseignements et conseils avisés du mixeur canadien.</p>
							            </div>
							        </div>
							    </div>

							</div>
						</div>	

						<!-- ***** Activities - Desktop Menu ***** -->
						<div class="row">
							<br>
							<div class="d-none d-md-block col-md-3 text-center pb-4">
								<a href="#recording">
									<i class="fa fa-microphone fa-3x"></i>
									<h5>ENREGISTREMENT<br>MIXAGE</h5>
								</a>	
							</div>
							<br>
							<div class="d-none d-md-block col-md-3 text-center pb-4">
								<a href="#audiovisual">
									<i class="fa fa-film fa-3x"></i>
									<h5>AUDIOVISUEL<br>BRUITAGES</h5>
								</a>	
							</div>
							<div class="d-none d-md-block col-md-3 text-center pb-4">
								<a href="#cam">
									<i class="fa fa-desktop fa-3x"></i>
									<h5>COURS<br>DE MAO</h5>
								</a>	
							</div>
							<div class="d-none d-md-block col-md-3 text-center pb-4">
								<a href="#masterclass">
									<i class="fa fa-graduation-cap fa-3x"></i>
									<h5>MASTERCLASS<br>WORKSHOPS</h5>
								</a>	
							</div>
						</div>	 
						<br>

						<!-- ***** Activities - Desktop Content ***** -->
						<div id="recording" class="row">
							<div class="col-md-1 d-flex align-items-center justify-content-center">
								<i class="d-none d-md-block fa fa-microphone fa-5x "></i>
							</div>
							<div class="d-none d-md-block col-md-11 text-justify">
								<p>De l’enregistrement au mastering, en passant par les arrangements et le mixage, nous vous accompagnons sur toutes les étapes de la production musicale.
								Que vous ne juriez que par la précision des prises en "re-re", ou que vous soyez plutôt adeptes du son unique d'une prise "live", l'Artisterie saura combler toutes vos attentes grâce à sa cabine de prise XXL et son matériel mêlant habilement analogique et numérique.
								<a href="#Seb">Sébastien</a> pourra vous accompagner avant et pendant l’enregistrement et le mixage pour vous guider sur les arrangements et réaliser vos titres. Son intervention constitue une réelle plus-value car un bon arrangement est indispensable pour obtenir un rendu final de qualité.
								</p>
							</div>	
						</div>
						<div id="audiovisual" class="row">
							<div class="col-md-1 order-md-last d-flex align-items-center justify-content-center">
								<i class="d-none d-md-block fa fa-film fa-5x "></i>
							</div>
							<div class="d-none d-md-block col-md-11 text-justify">
								<p>L’enregistrement de bruitages, de voix off ou commentaires est l'une des nombreuses activités de l’Artisterie.
								En partenariat avec le bruiteur <a href="http://www.julienbaissatbruiteur.fr" target="_blank">Julien Baissat</a> et l’école d’animation <a href="http://www.poudriere.eu" target="_blank">La Poudrière</a> à Valence, les projets de fin d’année des élèves sont bruités au studio, pour ensuite être mixés à Valence.
								L’enregistrement de voix ou le mixage à l’image est également possible.
								</p>
							</div>	
						</div>
						<div id="cam" class="row">
							<div class="col-md-1 d-flex align-items-center justify-content-center">
								<i class="d-none d-md-block fa fa-desktop fa-5x "></i>
							</div>
							<div class="d-none d-md-block col-md-11 text-justify">
								<p>Le studio s’inscrit dans une démarche de formation avec comme partenaire l’école de musique <a href="http://drumsemblem.com" target="_blank">Drums Emblem</a> à Villeurbanne.
								Que vous soyez débutant ou que que vous souhaitiez vous perfectionner, nous vous proposons également des cours "à la demande" pour vous accompagner sur toutes les étapes d'un enregistrement, de la prise de son au mixage, en studio ou en concert.
								Vous aurez accès à du matériel professionnel et à une pédagogie maîtrisée, délivrée par des ingénieurs du son travaillant dans le milieu depuis de nombreuses années.
								</p>
							</div>	
						</div>
						<div id="masterclass" class="row">
							<div class="col-md-1 order-md-last d-flex align-items-center justify-content-center">
								<i class="d-none d-md-block fa fa-graduation-cap fa-5x "></i>
							</div>
							<div class="d-none d-md-block col-md-11 text-justify">
								<p>Le studio accueille également des évènements ponctuels de type Workshop, comme par exemple la venue d’<a href="https://www.youtube.com/user/lamachineamixer" target="_blank">Etienne Tremblay</a>, célèbre youtuber Québécois, en fin d'année 2017.
								Lors de cette Masterclass, pas moins de 15 personnes venues de toute la région ont pu suivre les enseignements et conseils avisés du mixeur canadien.
								</p>
							</div>	
						</div>
						<br><br>
					</div>	 
				</div>	

		<!-- 
		########   ########   ####   ######    ########   
		##     ##  ##     ##   ##   ##    ##   ##         
		##     ##  ##     ##   ##   ##         ##         
		########   ########    ##   ##         ######     
		##         ##   ##     ##   ##         ##         
		##         ##    ##    ##   ##    ##   ##         
		##         ##     ##  ####   ######    ########   
		 -->
				<div class="container-fluid dark-bg" id="pricing">
					<div class="container">
						<div class="row">
							<div class="col-12">
		 						<h1 class="text-center">TARIFS</h1>
		 						<p>N'hésitez pas à remplir le <a href="{{ path('contact') }}">formulaire de contact</a> pour recevoir un devis détaillé.<br>Nous adaptons notre devis à vos besoins et à votre budget !</p>
							</div>
						</div>	 
					</div>	 
				</div>	

		<!-- 
		########      ###     ########   ########   ##    ##   ########   ########    ######    
		##     ##    ## ##    ##     ##     ##      ###   ##   ##         ##     ##  ##    ##   
		##     ##   ##   ##   ##     ##     ##      ####  ##   ##         ##     ##  ##         
		########   ##     ##  ########      ##      ## ## ##   ######     ########    ######    
		##         #########  ##   ##       ##      ##  ####   ##         ##   ##          ##   
		##         ##     ##  ##    ##      ##      ##   ###  x ##         ##    ##   ##    ##   
		##         ##     ##  ##     ##     ##      ##    ##   ########   ##     ##   ######    
		 -->
				<div class="container-fluid" id="partners">
					<div class="container">
						<div class="row">
							<div class="col-12">
		 						<h1 class="text-center">PARTENAIRES</h1>
		 					</div>	
		 					<div class="col-0 col-sm-1"></div>
	 						<div class="col-12 col-sm-2 d-flex align-items-center justify-content-center">
	 							<a href="http://sossection.fr" target="_blank">
	 								<img src="{{ asset('/img/partner_sossection.png') }}" alt="SOS Section">
	 							</a>
	 						</div>
	 						<div class="col-12 col-sm-2 d-flex align-items-center justify-content-center">
	 							<a href="http://www.poudriere.eu" target="_blank">
	 								<img src="{{ asset('/img/partner_poudriere.png') }}" alt="La Poudrière">
	 							</a>
	 						</div>
	 						<div class="col-12 col-sm-2 d-flex align-items-center justify-content-center">
	 							<a href="http://drumsemblem.com" target="_blank">
	 								<img src="{{ asset('/img/partner_drumsemblem.jpg') }}" alt="Drums Emblem">
	 							</a>
	 						</div>
	 						<div class="col-12 col-sm-2 d-flex align-items-center justify-content-center">
	 							<a href="https://www.youtube.com/user/lamachineamixer" target="_blank">
	 								<img src="{{ asset('/img/partner_lamachineamixer.png') }}" alt="La Machine à Mixer">
	 							</a>
	 						</div>
	 						<div class="col-12 col-sm-2 d-flex align-items-center justify-content-center">
	 							<a href="http://www.julienbaissatbruiteur.fr" target="_blank">
	 								<img src="{{ asset('/img/partner_julienbaissat.png') }}" alt="Julien Baissat - Bruiteur">
	 							</a>
	 						</div>
						</div>	 
					</div>	 
				</div>	
	    
	</main>
{% endblock %}

